<ons-page ng-controller="HomeController" id="home-page">
	<ons-toolbar class="top-menu">
	  <div class="left">
	    <a  ng-click="back()">
	     <i class="zmdi zmdi-arrow-left"></i>
	    </a>
	  </div>
	  <div class="center">Home</div>
	  <div class="right">
	  	<span style="opacity: 0">no text..</span>
	  </div>
	</ons-toolbar>

	<div class="home">
	  <div class="home-group-icon clearfix ng-scope">
      <div class="home-icon-holder" href="/register">
          <i class="icon-movies"></i>
          <h5> Movies </h5>
      </div>
      <div class="home-icon-holder" href="/register">
            <i class="icon-themeparks"></i>
            <h5> Theme Parks </h5>
      </div>
      <div class="home-icon-holder" ng-click="hotoffers()">
          <i class="icon-hotoffers"></i>
          <h5> Hot Offers </h5>
      </div>
      <div class="home-icon-holder" href="/register">
          <i class="icon-bowling"></i>
          <h5> Bowling </h5>
      </div>
      <div class="home-icon-holder" href="/register">
          <i class="icon-addcard"></i>
          <h5> Add Card </h5>
      </div>
      <div class="home-icon-holder" href="/register">
          <i class="icon-gift"></i>
          <h5> Gift Ideas </h5>
      </div>
      <div class="home-icon-holder" href="/register">
          <i class="icon-experience"></i>
          <h5> Experiences </h5>
      </div>
      <div class="home-icon-holder" href="/register">
          <i class="icon-tickets"></i>
          <h5> Tickets </h5>
      </div>
      <div class="home-icon-holder" href="/register">
          <i class="icon-clubperks"></i>
          <h5> Club Perks </h5>
      </div>
      <div class="home-icon-holder" href="/register">
          <i class="icon-cashback"></i>
          <h5> Cash Back  </h5>
      </div>
		</div>
	  
	</div>

</ons-page>