<ons-page ng-controller="RegisterController" id="register-page">
  <ons-toolbar class="top-menu">
    <div class="left">
	    <a  ng-click="back()">
	     	<i class="zmdi zmdi-arrow-left"></i>
	    </a>
	  </div>
	  <div class="center">Register</div>
	  <div class="right">
	  	<span style="opacity: 0">no text..</span>
	  </div>
  </ons-toolbar>

	<div class="form-fields">
		<h3>Create a SportsPass Account</h3>
		<p>To be able to add a membership card to your wallet, you first need to create a SportsPass account.</p>
		<p>
	    <input type="text" class="text-input" ng-model="data.first_name" placeholder="First Name" />
	  </p>
	  <p>
	    <input type="text" class="text-input" ng-model="data.last_name" placeholder="Last Name" />
	  </p>
	  <p>
	    <input type="email" class="text-input" ng-model="data.email" placeholder="Email" />
	  </p>
	  <p>
	    <input type="text" class="text-input" ng-model="data.post_code" placeholder="Post Code" />
	  </p>
	  <p>
	    <input type="password" class="text-input" ng-model="data.password" placeholder="Password" />
	  </p>
	  <p style="margin-top: 30px;">
	    <ons-button  modifier="large" ng-click="register( data )">Sign up</ons-button>
	  </p>
	  <p>
	    <a class="" ng-click="" >Sign in.</a>
	  </p>
	</div>

</ons-page>