
@font-face {
  font-family: 'home-icons';
  src:  url('../fonts/icon-font/icomoon.eot?573zz7');
    src:  url('../fonts/home-icons/icomoon.eot?573zz7#iefix') format('embedded-opentype'),
      url('../fonts/home-icons/icomoon.ttf?573zz7') format('truetype'),
      url('../fonts/home-icons/icomoon.woff?573zz7') format('woff'),
      url('../fonts/home-icons/icomoon.svg?573zz7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'home-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hotoffers:before {
  content: "\e900";
}
.icon-bowling:before {
  content: "\e901";
}
.icon-movies:before {
  content: "\e902";
}
.icon-foods:before {
  content: "\e903";
}
.icon-tickets:before {
  content: "\e904";
}
.icon-vouchers:before {
  content: "\e905";
}
.icon-gift:before {
  content: "\e906";
}
.icon-experience:before {
  content: "\e907";
}
.icon-yourclub:before {
  content: "\e908";
}
.icon-yourcard:before {
  content: "\e909";
}
.icon-cashback:before {
  content: "\e90a";
}
.icon-logouts:before {
  content: "\e90b";
}
.icon-themeparks:before {
  content: "\e90c";
}
.icon-travel:before {
  content: "\e90d";
}
.icon-nearme:before {
  content: "\e90e";
}
.icon-clubperks:before {
  content: "\e90f";
}
.icon-addcard:before {
  content: "\e910";
}



@font-face {
  font-family: 'retailer-icons';
  src:  url('../fonts/retailer-icons/icomoon.eot?bm7y4j');
  src:  url('../fonts/retailer-icons/icomoon.eot?bm7y4j#iefix') format('embedded-opentype'),
    url('../fonts/retailer-icons/icomoon.ttf?bm7y4j') format('truetype'),
    url('../fonts/retailer-icons/icomoon.woff?bm7y4j') format('woff'),
    url('../fonts/retailer-icons/icomoon.svg?bm7y4j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="retailericon-"], [class*=" retailericon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'retailer-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.retailericon-booknsave:before {
  content: "\e800";
  color: #5bcbf5;
}
.retailericon-cashback:before {
  content: "\e801";
  color: #6fcdf4;
}
.retailericon-shownsave:before {
  content: "\e802";
  color: #5bcbf5;
}
.retailericon-yourclub:before {
  content: "\e803";
  color: #6fcdf4;
}

@font-face {
  font-family: 'siteicon';
  src:  url('../fonts/custom-icons/profile/icomoon.eot?5fsv22');
  src:  url('../fonts/custom-icons/profile/icomoon.eot?5fsv22#iefix') format('embedded-opentype'),
    url('../fonts/custom-icons/profile/icomoon.ttf?5fsv22') format('truetype'),
    url('../fonts/custom-icons/profile/icomoon.woff?5fsv22') format('woff'),
    url('../fonts/custom-icons/profile/icomoon.svg?5fsv22#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="siteicon-"], [class*=" siteicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'siteicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home-group-icon {
      width: 90%;
    margin: 25px auto;

}

.home-icon-holder {
    background: rgba(0, 0, 0,.9);
    padding: 20px 5px 10px;
    border-radius: 5px;
    float: left;
    margin: 5px 10px;
    text-align: center;
    transition: all 0.37s ease;
    cursor: pointer;
    width: 40%;
    border: 0.5px solid #5BCBEE;
}

.home-icon-holder i {
    font-size: 50px;
    color: #5BCBEE;
    transition: all 0.7s ease;
}

.home-icon-holder h5 {
  font-family: 'exoregular';
  color: #fff;
}
